section {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input, select {
    border: 2px solid #0077be;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  button {
    background-color: #0077be;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0067a3;
  }
  